/**
 * @name MicrosoftTeams
 * @author Leeprky#2063
 * @version 0.0.9
 * @description (ALPHA)
 * @source https://github.com/leeprky/MicrosoftTeams
 * @updateUrl https://raw.githubusercontent.com/leeprky/MicrosoftTeams/main/source/support/betterdiscord/MicrosftsoftTeams.theme.css
 * @authorId 224524143482241035
 * @invite Ff3rqAYB89
 * @donate https://www.paypal.com/paypalme/leeparkinson22
 * @website https://leeprky.github.io/
*/
/* MS Teams Theme - Dev */
@import "https://leeprky.github.io/themes/MicrosoftTeams/master-import.css";
@import url('https://snappercord.github.io/Settings-Icons/source.css');
@import url(https://raw.githack.com/mwittrien/BetterDiscordAddons/master/Themes/BlurpleRecolor/BlurpleRecolor.css);

/* MS Teams Theme - Dev */
@import "https://leeprky.github.io/themes/MicrosoftTeams/master-import.css";
@import url('https://snappercord.github.io/Settings-Icons/source.css');
@import url(https://raw.githack.com/mwittrien/BetterDiscordAddons/master/Themes/BlurpleRecolor/BlurpleRecolor.css);


/*

DARKMODE

*/

.theme-dark {

  /* Main Colours - Try Keep These The Same */
  --main-colour: 70, 71, 117; /* RGB ONLY */
  --main-colour2: #464775; /* HEX ONLY */
  --main-colour3: 239; /* HSL ONLY */

  /* Green Colours */
  --green-color: var(--alt-color2); /* HEX ONLY */
  --green-color2: var(--alt-color); /* RGB ONLY */
  --green-bar-on: rgba(var(--alt-color), 0.3); /* RGBA ONLY */
  --green-bar-bg: var(--green-color); /* RGB ONLY */
  --green-slider-on: var(--green-color); /* RGB ONLY */
  --green-slider-off: rgba(var(--alt-color), 0.4); /* RGBA ONLY */
  --green-slider-dot: #fff;

  /* Status/Other Things Colours */
  --purple: #464775;
  --red: #B1273E;
  --call-button-red: #AF243D;
  --yellow: #FDB913;
  --green: #92C353;

  /* Header Colours */
  --headers: #FFFFFF; /* */
  --headers-secondary: #c7c7c7;

  --chatbox-colour: var(--background-secondary);
  --mentioned: rgba(var(--alt-color), 0.4);
  --mentioned-hover: rgba(var(--alt-color), 0.2);

  /* Text Colours */
  --namesusernames: #F0F0F0;
  --text: #F0F0F0;
  --text-positive1: var(--green-color);
  --muted: #646262;
  --links: var(--alt-color2);
  --links-from-self: #989bff;
  
  /* Interative Buttons */
  --button-interactive: #F0F0F0;
  --button-interactive-hover: #F0F0F0;
  --button-interactive-active: #fefeff;
  --button-interactive-muted: #585858;

  /* Backgrounds */
  --main-background: #1f1f1f;
  --main-background-alternative: #111111;
  --secondary-background: #141414;
  --secondary-background-alternative: #0a0a0a;
  --tertiary: #171717;
  --accent: var(--alt-color2);
  --floating: #161616;

  /* Hovering Colours */
  --main-hover: rgba(var(--alt-color), 0.2);
  --main-hover-active: rgba(var(--alt-color), 0.8);
  --main-hover-selected: rgba(var(--alt-color), 0.5); 
  --main-hover-accent: rgba(var(--alt-color), 0.1); 

  /* Channel Indicators */
  --connected: 108, 95, 135; /* RGB ONLY */
  --hovered: rgba(var(--alt-color), 0.2); /* RGBA ONLY */
  --unread: 255, 255, 255; /* RGB ONLY */
  --selected: var(--alt-color); /* RGB ONLY */
  --rounding: 3px;

  /* Infos */
  --info-warning: var(--red);
  --help-warning: var(--red);
  --help-info: var(--alt-color2);
  --radio-group-dot: var(--alt-color);

  /* Drop Shadow */
  --shadow-stroke: 0 0 0 1px rgba(4,4,5,0.15);
  --shadow-low: 0 1px 0 rgba(18, 20, 36, 0.767),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
  --shadow-medium: 0 4px 4px rgba(0,0,0,0.16);
  --shadow-high: 0 8px 16px rgba(0,0,0,0.24);

  /* Scollbars */
  --scrollbars: flex;
  --scrollbar-small: #797979;
  --scrollbar-small-track: transparent;
  --scrollbar-large-thumb: #797979;
  --scrollbar-large-track: transparent;
  --scrollbar-small-scrollbar-color: #6c6c6c;
  --scrollbar-small-scrollbar-color-track: transparent;

  /* Others */

  /* Modals */
  --user-modal-avatar-size: 230px;
  --blur-the-things: 0;
  --premium-size: 480px;
  --premium-opacity: .13;
  --premium-blur: blur(1.2px)
}

/*

LIGHTMODE

*/

.theme-light {

  /* Main Colours - Try Keep These The Same */
  --main-colour: 118, 120, 187; /* RGB ONLY */
  --main-colour2: #6e71bb; /* HEX ONLY */
  --main-colour3: 238; /* HSL ONLY */

  /* Green Colours */
  --green-color: var(--alt-color2); /* HEX ONLY */
  --green-color2: var(--alt-color); /* RGB ONLY */
  --green-bar-on: rgba(var(--alt-color), 0.3); /* RGBA ONLY */
  --green-bar-bg: var(--green-color); /* RGB ONLY */
  --green-slider-on: var(--green-color); /* RGB ONLY */
  --green-slider-off: rgba(var(--alt-color), 0.4); /* RGBA ONLY */
  --green-slider-dot: #fff;

  /* Status/Other Things Colours */
  --purple: #464775;
  --red: #B1273E;
  --call-button-red: #AF243D;
  --yellow: #FDB913;
  --green: #92C353;

  /* Header Colours */
  --headers: #1A1A1A; /* */
  --headers-secondary: #5E5D5F;

  --chatbox-colour: var(--background-secondary);
  --mentioned: rgba(var(--alt-color), 0.4);
  --mentioned-hover: rgba(var(--alt-color), 0.2);

  /* Text Colours */
  --namesusernames: #2e2e2e;
  --text: #3E3E3E;
  --text-positive1: var(--green-color);
  --muted: #252525;
  --links: var(--alt-color2);
  --links-from-self: #6365a1;
  
  /* Interative Buttons */
  --button-interactive: #555555;
  --button-interactive-hover: var(--alt-color2);
  --button-interactive-active: var(--alt-color2);
  --button-interactive-muted: #989898;

  /* Backgrounds */
  --main-background: #F3F3F3; 
  --main-background-alternative: #F3F3F3; 
  --secondary-background: #EBEBEB; 
  --secondary-background-alternative: #EBEBEB; 
  --tertiary: rgba(253, 251, 251, 0.979); 
  --accent: var(--alt-color2);
  --floating: #ffffff; 

  /* Hovering Colours */
  --main-hover: rgba(var(--alt-color), 0.2) ;
  --main-hover-active: rgba(var(--alt-color), 0.6) ;
  --main-hover-selected: rgba(var(--alt-color), 0.4) ; 
  --main-hover-accent: rgba(var(--alt-color), 0.1) ; 

  /* Channel Indicators */
  --connected: 108, 95, 135; /* RGB ONLY */
  --hovered: rgba(var(--alt-color), 0.1); /* RGBA ONLY */
  --unread: 255, 255, 255; /* RGB ONLY */
  --selected: var(--alt-color); /* RGB ONLY */
  --rounding: 3px;

  /* Infos */
  --info-warning: var(--red);
  --help-warning: var(--red);
  --help-info: var(--alt-color2);
  --radio-group-dot: var(--alt-color);

  /* Drop Shadow */
  --shadow-stroke: 0 0 0 1px rgba(4,4,5,0.15) ;
  --shadow-low: 0 1px 0 rgba(18, 20, 36, 0.767),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05) ;
  --shadow-medium: 0 4px 4px rgba(0,0,0,0.16) ;
  --shadow-high: 0 8px 16px rgba(0,0,0,0.24) ;

  /* Scollbars */
  --scrollbars: flex;
  --scrollbar-small: #8A8A8A ;
  --scrollbar-small-track: transparent;
  --scrollbar-large-thumb: #8A8A8A;
  --scrollbar-large-track: transparent;
  --scrollbar-small-scrollbar-color: #6c6c6c;
  --scrollbar-small-scrollbar-color-track: transparent;

  /* Others */

  /* Modals */
  --user-modal-avatar-size: 230px;
  --blur-the-things: 0;
  --premium-size: 480px;
  --premium-opacity: .13;
  --premium-blur: blur(1.2px)
}

:root {--outdated_msteams-005: none !important; --version: "0.0.9 (ALPHA)" !important; --build: "005" !important}
